<header class="header">
    <div class="company">
        <img src="../images/logo.png" alt="WSU Merch Logo" class="logo">
        <div class="company-text">
            <span class="wsu">WSU</span>
            <span class="merch">Merch</span>
        </div>
    </div>
    <input type="search" class="search-bar" placeholder="Search">
    <div class="header-icons">
        <a href="login.html" class="account button">
            <i class="bi bi-person icon"></i>
        </a>
        <a href="cart.html" class="cart button">
            <i class="bi bi-cart icon"></i>
        </a>
    </div>
</header>
