nav {
    background-color: #53565A;
    display: flex;
    justify-content: center;
    gap: 10%;

    padding: 0px 120px;
    margin: 0;
    border-bottom: 3px solid #ddd;
}
nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #FFFFFF;
    text-decoration: none;

    margin: 5px;
    border-radius: 20px;
    width: 200px;
    height: 45px;
}