header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #981E32;
    color: #FFFFFF;
    border-bottom: 3px solid #ddd;
}
.search-bar {
    flex-grow: 1;
    justify-content: center;
    margin: 0 75px;
}
.cart {
    background-color: #53565A;
    border: 3px solid #ddd;
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
}