.featured-products {
    text-align: center;
    padding: 20px;
    margin: 60px 0px;
}
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.carousel .product {
    padding: 120px;
    margin: 20px;
}
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
}
.product {
    border: 1px solid #ddd;
    padding: 30px;
    text-align: center;
}
.product-grid .product {
    padding: 100px;
}
.about-section {
    text-align: center;
    padding: 20px;
    background: #f1f1f1;
}